:root {
    --blue: #44e1d5;
    --black: #54606c;
    --white: #ffffff;
}

/* Dark mode */
.dark-mode {
    background-color: #050811;
    /* color: #a5a8ac; */
}
/* #view {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
} */

.dark-mode #view {
    background-color: #04101a;
    color: #a5a7a9;
}
/* Styles for dark mode */
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-family: "Source Sans 3", sans-serif;
    background-color: var(--white);
    color: var(--black);
}
i {
    color: var(--black);
}

.active {
    color: var(--blue) !important;
}
.navbar-nav {
    /* height: 20px; */
}
.nav-item {
    border-right: 1px solid #000;
    height: 20px;
}
.nav-item {
    margin: 0;
    padding: 0px 15px;
}

.nav-link {
    padding: 0 !important;
    color: var(--black);
    font-weight: 600;
}
.nav-link:hover {
    color: var(--blue);
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown ul {
    background-color: var(--black);
    color: var(--white);
}
.dropdown ul li a {
    color: var(--white);
}

.pools-dropdown {
    width: 600px;
}
.pools-dropdown li h6 {
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid var(--blue);
    padding-bottom: 10px;
}

.submenu {
    display: none;
    position: absolute;
    top: 80%;
    left: 30%;
    background-color: var(--black);
}
.category {
    padding: 0px 5px;
    width: 300px;
    color: var(--white);
}

.category h5 {
    border-bottom: 2px solid var(--blue);
    padding: 5px 0px;
}
.category p {
    line-height: 5px;
}

.pools:hover .submenu {
    display: block !important;
}

.navbar-brand {
    /* width: 40%; */
}
.navbar-brand img {
    width: 55%;
}

/* Signup Form starts*/
.modal-content {
    width: 130% !important;
}

.modal-header {
    border: none !important;
}
.modal-header .signup-brand-logo {
    width: 50%;
    margin: auto;
    display: block;
}
form .btn-style {
    margin-top: 1rem;
    background: rgb(60, 207, 223);
    background: linear-gradient(
        90deg,
        rgba(60, 207, 223, 1) 15%,
        rgba(69, 227, 212, 1) 63%
    );
    padding: 0.5rem 1.5rem;
    color: var(--black);
    font-weight: 600;
}
.checkbox .row {
    width: 100%;
}
.checkbox .row .col {
    width: 50%;
    display: flex;
}
.checkbox .row .col .text {
    margin: 10px 5px;
}

/* Signup Form ends */

.bg-image {
    width: 100%;
    height: 92.2vh;
    /* background: url("assets/frontEnd/web/images/remove.png") !important; */
    background-repeat: no-repeat !important;
    background-size: contain !important;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid var(--blue);
}
/* .view {
    background-color: #f0eeee;
}
.view .container .row .col p {
    color: var(--black);
    font-weight: 600;
    font-size: 15px;
} */
.categories .col {
    border: 1px solid var(--black) !important;
    margin: 0px 10px;
    text-align: center;
}
.categories .view-desc {
    font-size: 15px;
}

.featured-products {
    background-color: #54606c;
    padding-top: 3rem;
    margin-bottom: -10rem;
    padding-bottom: 10rem;
}
/* Crausel Products */
.cards-wrapper {
    display: flex;
    justify-content: center;
}
.card img {
    margin: auto;
    justify-content: center;
    max-width: 70%;
    max-height: 100%;
}
.card {
    width: 400px;
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}
.card .card-body .product-price {
    text-align: right !important;
    color: #050811;
    font-weight: 600;
}
.card .card-body li {
    color: #050811;
    font-weight: 600;
}
.card .card-body .product-price .price {
    font-size: 25px;
    color: var(--blue);
    font-weight: 800;
}
.card .btn {
    text-align: center;
    width: 100%;
    background-color: var(--blue);
    color: #050811;
    font-weight: 600;
}
.carousel-inner {
    padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
    background-color: var(--blue);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 50% !important;
    transform: translateY(-50%);
}
.carousel-control-next,
.carousel-control-prev {
    width: 45px !important;
    height: 45px !important;
    opacity: 1 !important;
}
@media (min-width: 768px) {
    .card img {
        height: 11em;
    }
}
/* Crausel Products */
footer {
    background-color: var(--white);
    /* width: 98%; */
    height: 400px;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
    background-size: contain;
    color: var(--black);
}
footer .footer-container {
    background-color: var(--white);
    width: 98%;
    height: 400px;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
    background-size: contain;
    color: var(--white);
}
footer .footer-container .footer-desc {
    text-align: left;
    color: var(--black);
}

footer .footer-container .footer-desc img {
    width: 150px;
}
footer .footer-container .footer-desc .footer-brand {
    width: 200px;
    margin: auto;
    justify-content: center;
}
footer .footer-container .footer-desc a {
    margin-left: 4rem;
    text-align: left;
    color: var(--black);
    text-decoration: none;
}
footer .footer-container .useless {
    visibility: hidden;
}
footer .footer-container .space-for-phone {
    display: none;
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .navbar-brand {
        width: 60%;
    }
    .navbar-brand img {
        width: 100%;
    }
    .bg-image {
        width: 100%;
        height: 167px;
        background: url(assets/images/remove.png) !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        margin: 0;
        padding: 0;
        border-bottom: 5px solid var(--blue);
    }
    footer .footer-container .useless {
        display: none;
    }
    footer .footer-container .space-for-phone {
        display: block;
    }
    footer {
        height: 700px;
        clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
        background-size: contain;
        color: var(--black);
    }
    footer .footer-container {
        width: 97%;
        height: 720px;
        clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
        background-size: contain;
        color: var(--white);
    }
    footer .footer-container .footer-desc a {
        margin-left: 1.5rem;
    }
    footer .footer-container .footer-desc .footer-brand {
        display: block;
        margin-top: 1rem;
    }
    footer .footer-container .phone {
        text-align: center;
    }
}
