:root {
    --blue: #44e1d5;
    --black: #54606c;
    --white: #ffffff;
}

/* Dark mode */
.body-dark {
    background-color: #050811 !important;
    /* color: #a5a8ab; */
}
.dark-mode {
    background-color: #050811 !important;
    color: #fff;
}

.dark-mode-background1 {
    background-color: #050811 !important;
    color: #ffffff;
}
.dark-mode-background2 {
    background-color: #04101a !important;
    color: #ffffff;
}
.dark-mode-text-dark {
    color: #ffffff;
}

.dark-mode-section {
    /* background-color: #444; /* Dark mode background color for specific section */
    /*color: #fff; Dark mode text color for specific section */
}
/* Styles for dark mode */
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-family: "Source Sans 3", sans-serif;
    background-color: var(--white);
    color: var(--black);
}
i {
    color: var(--black);
}

.active {
    color: var(--blue) !important;
}
.navbar-nav {
    /* height: 20px; */
}
.nav-item {
    border-right: 1px solid #000;
    height: 20px;
}
.nav-item {
    margin: 0;
    padding: 0px 15px;
}

.nav-link {
    padding: 0 !important;
    color: var(--black);
    font-weight: 600;
}
.nav-link:hover {
    color: var(--blue);
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown ul {
    background-color: var(--black);
    color: var(--white);
}
.dropdown ul li a {
    color: var(--white);
}

.pools-dropdown {
    width: 600px;
}
.pools-dropdown li h6 {
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid var(--blue);
    padding-bottom: 10px;
}

.submenu {
    display: none;
    position: absolute;
    top: 80%;
    left: 30%;
    background-color: var(--black);
}
.category {
    padding: 0px 5px;
    width: 300px;
    color: var(--white);
}

.category h5 {
    border-bottom: 2px solid var(--blue);
    padding: 5px 0px;
}
.category p {
    line-height: 5px;
}

.pools:hover .submenu {
    display: block !important;
}

.navbar-brand {
    /* width: 40%; */
}
.navbar-brand img {
    width: 55%;
}

/* Signup Form starts*/
.modal-content {
    width: 130% !important;
}

.modal-header {
    border: none !important;
}
.modal-header .signup-brand-logo {
    width: 30%;
    margin: auto;
    display: block;
}
form .btn-style {
    margin-top: 1rem;
    background: rgb(60, 207, 223);
    background: linear-gradient(
        90deg,
        rgba(60, 207, 223, 1) 15%,
        rgba(69, 227, 212, 1) 63%
    );
    padding: 0.5rem 1.5rem;
    color: var(--black);
    font-weight: 600;
}
.checkbox .row {
    width: 100%;
}
.checkbox .row .col {
    width: 50%;
    display: flex;
}
.checkbox .row .col .text {
    margin: 10px 5px;
}

/* Signup Form ends */

.bg-image {
    width: 100%;
    height: 92.2vh;
    /* background: url("assets/frontEnd/web/images/remove.png") !important; */
    background-repeat: no-repeat !important;
    background-size: contain !important;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid var(--blue);
}

.bg-image .product {
    display: block;
    position: absolute;
    width: 400px;
    top: 45%;
    left: 9%;
}

.bg-image .hero-heading-container {
    padding-top: 10rem;
    /* line-height: 10px; */
    display: block;
    position: absolute;
    top: 15%;
    left: 45%;
}

.bg-image .hero-heading-container h1 {
    font-size: 50px;
    font-weight: 800;
    color: #273340;
}
.bg-image .hero-heading-container p {
    font-size: 25px;
    font-weight: 600;
    color: #444f59;
}
.bg-image .exclusive {
    display: block;
    position: absolute;
    width: 300px;
    left: 75%;
    top: 11%;
}

.services {
    background-color: #eeeeee;
}
/* .view .container .row .col p {
    color: var(--black);
    font-weight: 600;
    font-size: 15px;
} */
.categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
    justify-content: space-between;
}
.categories .categories-card {
    width: 120px;
    height: 120px;
    border: 1px solid var(--black) !important;
    margin: 10px 10px;
    padding-top: 16px;
    text-align: center;
    flex: 1 0 15%;
}
.categories .categories-card a {
    text-decoration: none;
}
.categories .categories-card img {
    width: 30px;
}
.categories .view-desc {
    font-size: 15px;
    color: #415061;
    padding: 5px 10px;
    font-weight: 500;
}

.featured-products {
    background-color: #777777;
    padding-top: 3rem;
    margin-bottom: -10rem;
    padding-bottom: 10rem;
}
/* Crausel Products */
.cards-wrapper {
    display: flex;
    justify-content: center;
}
.card .img-cont {
    margin: auto;
    justify-content: center;
    max-width: 50%;
    max-height: 100%;
    padding-top: 2rem;
}
.card {
    width: 400px;
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}
.card .card-body .product-price {
    text-align: right !important;
    color: #050811;
    font-weight: 600;
}
.card .card-body li {
    color: #050811;
    font-weight: 600;
}
.card .card-body .product-price .price {
    font-size: 25px;
    color: var(--blue);
    font-weight: 800;
}
.card .btn {
    text-align: center;
    width: 100%;
    background-color: var(--blue);
    color: #050811;
    font-weight: 600;
}
.carousel-inner {
    padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
    background-color: var(--blue);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 50% !important;
    transform: translateY(-50%);
}
.carousel-control-next {
    width: 45px !important;
    height: 45px !important;
    opacity: 1 !important;
}
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: flex;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

@media (min-width: 768px) {
    .card img {
        height: 11em;
    }
}
/* Crausel Products */
footer {
    background-color: var(--white);
    /* width: 98%; */
    height: 400px;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
    background-size: contain;
    color: var(--black);
}
footer .footer-container {
    padding-top: 10rem;
    background-color: var(--white);
    width: 85%;
    height: 400px;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
    background-size: contain;
    color: var(--white);
    margin: auto;
}
footer .footer-container .footer-desc {
    text-align: left;
    color: var(--black);
    line-height: 1.5;
}

footer .footer-container .footer-desc img {
    width: 150px;
}
footer .footer-container .footer-desc .footer-brand {
    width: 300px;
    margin: auto;
    justify-content: center;
}
footer .footer-container .footer-desc a {
    /* margin-left: 2rem; */
    text-align: left;
    color: var(--black);
    /* line-height: 5px; */
    text-decoration: none;
    font-size: 14px;
}
footer .footer-container .useless {
    visibility: hidden;
}
footer .footer-container .space-for-phone {
    display: none;
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .navbar-brand {
        width: 60%;
    }
    .navbar-brand img {
        width: 100%;
    }
    .bg-image {
        width: 100%;
        height: 167px;
        background: url(assets/images/remove.png) !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        margin: 0;
        padding: 0;
        border-bottom: 5px solid var(--blue);
    }
    .bg-image .myImage {
        z-index: -1;
    }
    .bg-image .product {
        display: block;
        position: absolute;
        width: 100px;
        top: 20%;
        left: 9%;
    }
    .bg-image .exclusive {
        display: block;
        position: absolute;
        width: 100px;
        left: 72%;
        top: 10%;
    }
    .bg-image .hero-heading-container {
        /* padding-top: 10rem; */
        /* line-height: 10px; */
        display: block;
        position: absolute;
        top: -5%;
        left: 40%;
    }

    .bg-image .hero-heading-container h1 {
        font-size: 15px;
        font-weight: 800;
        color: #273340;
        padding: 0;
        margin: 0;
    }
    .bg-image .hero-heading-container p {
        font-size: 12px;
        padding: 0;
        margin: 0;
        font-weight: 600;
        color: #444f59;
    }

    .dropdown-menu {
        width: 300px;
        z-index: 1000;
    }

    .dropdown-menu .dropdown-row {
        display: block;
        z-index: 1000;
    }

    footer .footer-container .useless {
        display: none;
    }
    footer .footer-container .space-for-phone {
        display: block;
    }
    footer {
        height: 700px;
        clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
        background-size: contain;
        color: var(--black);
    }
    footer .footer-container {
        width: 97%;
        height: 800px;
        clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
        background-size: contain;
        color: var(--white);
        padding-top: 3rem;
    }
    footer .footer-container .footer-desc a {
        margin-left: 1.5rem;
    }
    footer .footer-container .footer-desc .footer-brand {
        display: block;
        margin-top: 3rem;
        width: 150px;
    }
    footer .footer-container .phone {
        text-align: center;
    }
}

/* #user-header {
    background-color: var(--blue);
    color: var(--black);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    height: 30px;
}

#user-header i {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    cursor: pointer;
} */
