:root {
    --blue: #44e1d5;
    --black: #54606c;
    --white: #ffffff;
}

/* Dark mode */
.body-dark {
    background-color: #050811 !important;
    /* color: #a5a8ab; */
}
.dark-mode {
    background-color: #050811 !important;
    color: #fff;
}

.dark-mode-background1 {
    background-color: #050811 !important;
    color: #ffffff;
}
.dark-mode-background2 {
    background-color: #04101a !important;
    color: #ffffff;
}
.dark-mode-text-dark {
    color: #ffffff;
}

.dark-mode-section {
    /* background-color: #444; /* Dark mode background color for specific section */
    /*color: #fff; Dark mode text color for specific section */
}
/* Styles for dark mode */
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-family: "Source Sans 3", sans-serif;
    background-color: var(--white);
    color: var(--black);
}
i {
    color: var(--black);
}

/* .active {
    color: var(--blue) !important;
} */
.navbar-nav {
    /* height: 20px; */
}
.nav-item {
    border-right: 1px solid #000;
    height: 20px;
}
.nav-item {
    margin: 0;
    padding: 0px 15px;
}

.nav-link {
    padding: 0 !important;
    color: var(--black);
    font-weight: 600;
}
.nav-link:hover {
    color: var(--blue);
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown ul {
    background-color: var(--black);
    color: var(--white);
}
.dropdown ul li a {
    color: var(--white);
    font-size: 13px;
    text-wrap: wrap;
}

/* .navbar-nav .nav-item .nav-link.active {
    color: var(--blue);
} */

.pools-position {
    left: -200px !important;
    top: 25px !important;
}
.technik-position {
    left: -260px !important;
    top: 25px !important;
}
.attraktionen-position {
    left: -500px !important;
    top: 25px !important;
}

.verrohrung-position {
    width: 1050px !important;
    left: -550px !important;
    top: 25px !important;
}

.wasserpflege-position {
    left: -500px !important;
    top: 25px !important;
}

.dropdown-element {
    width: 900px;
    position: absolute !important;
}
.dropdown-element li h6 {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid var(--blue);
    padding: 10px 0px;
}

.submenu {
    display: none;
    position: absolute;
    top: 80%;
    left: 30%;
    background-color: var(--black);
}
.category {
    padding: 0px 5px;
    width: 300px;
    color: var(--white);
}

.category h5 {
    border-bottom: 2px solid var(--blue);
    padding: 5px 0px;
}
.category p {
    line-height: 5px;
}

.pools:hover .submenu {
    display: block !important;
}

.navbar-brand {
    /* width: 40%; */
}
.navbar-brand img {
    width: 60%;
}

.form-control:focus {
    color: var(--black);
    background-color: #fff;
    border-color: var(--blue) !important;
    outline: 0;
    box-shadow: none !important;
}

.btn-check:focus + .btn,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.form-check-input:checked {
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
    box-shadow: none !important;
}

.profile-drop {
    left: -200% !important;
    top: 150% !important;
    width: 200px !important;
    background-color: var(--black);
}
.profile-drop li {
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
}
.profile-drop li a {
    color: var(--white);
    font-weight: 500;
}
.profile-drop li i {
    color: var(--white) !important;
}
.profile-drop li:hover i {
    color: var(--black) !important;
}
.profile-drop li a:hover i {
    color: var(--black) !important;
}

.cart-count {
    background-color: var(--blue);
    padding: 2px 6px;
    border-radius: 100%;
    color: var(--white);
    position: relative;
    font-weight: 700;
    font-size: 10px;
    bottom: 190%;
    right: -50%;
    cursor: pointer;
    text-decoration: none;
}

.cart-count:hover {
    color: var(--white);
}

/* Signup Form starts*/
/* .modal-content {
    width: 130% !important;
} */

.modal-header {
    border: none !important;
}
.modal-header .signup-brand-logo {
    width: 30%;
    margin: auto;
    display: block;
}
form .btn-style {
    margin-top: 1rem;
    background: var(--blue);
    border: 1px solid var(--blue);
    padding: 0.5rem 1.5rem;
    color: var(--white);
    font-weight: 600;
}
form .btn-style:hover {
    background: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
}
.checkbox .row {
    width: 100%;
}
.checkbox .row .col {
    width: 50%;
    display: flex;
}
.checkbox .row .col .text {
    margin: 10px 5px;
}

/* Signup Form ends */

.bg-image {
    width: 100%;
    height: 92.2vh;
    /* background: url("assets/frontEnd/web/images/remove.png") !important; */
    background-repeat: no-repeat !important;
    background-size: contain !important;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid var(--blue);
}

.bg-image .product {
    display: block;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 9%;
}

.bg-image .hero-heading-container {
    padding-top: 10rem;
    /* line-height: 10px; */
    display: block;
    position: absolute;
    top: 15%;
    left: 45%;
}

.bg-image .hero-heading-container h1 {
    font-size: 50px;
    font-weight: 800;
    color: #273340;
}
.bg-image .hero-heading-container p {
    font-size: 25px;
    font-weight: 600;
    color: #444f59;
}
.bg-image .exclusive {
    display: block;
    position: absolute;
    width: 300px;
    left: 75%;
    top: 11%;
}

.services {
    background-color: #eeeeee;
}
/* .view .container .row .col p {
    color: var(--black);
    font-weight: 600;
    font-size: 15px;
} */
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.categories .categories-card {
    height: 110px;
    width: 150px;
    border: 1px solid #000;
    padding-top: 16px;
    text-align: center;
    cursor: pointer;
    margin: 10px 0px;
}

.small-s {
    display: none;
}

/* For tablets (768px and above) */
@media (min-width: 768px) and (max-width: 991px) {
    .categories .categories-card {
        height: 120px;
        width: 150px;
        padding-top: 12px;
    }

    .large-s {
        display: none;
    }
    .small-s {
        display: block;
    }

    .cart-count {
        top: 89%;
        right: 6%;
    }
}

/* For mobile devices (up to 767px) */
@media (max-width: 767px) {
    .categories {
        padding: 5px;
        gap: 10px;
    }
    .categories .categories-card {
        height: 100px;
        width: 150px;
        padding-top: 8px;
    }
    .large-s {
        display: none;
    }
    .small-s {
        display: block;
    }
    .cart-count {
        bottom: 38px;
    }

    .navbar .nav-item {
        border: none;
        padding: 17px 15px;
    }

    .services .row {
        display: block;
    }

    .services .row .col p {
        font-size: 14px;
    }
    .pools-position {
        left: 0px !important;
        top: 40px !important;
    }

    .technik-position {
        left: 0px !important;
        top: 40px !important;
    }
    .attraktionen-position {
        left: 0px !important;
        top: 40px !important;
    }
    .verrohrung-position {
        width: 100% !important;
        left: 0px !important;
        top: 40px !important;
    }

    .wasserpflege-position {
        left: 0px !important;
        top: 40px !important;
    }
}

.categories .categories-card a {
    text-decoration: none;
}
.categories .categories-card img {
    width: 60px;
}

.categories .view-desc {
    font-size: 15px;
    color: #415061;
    padding: 5px 10px;
    font-weight: 500;
}

.featured-products {
    background-color: #777777;
    padding-top: 3rem;
    margin-bottom: -10rem;
    padding-bottom: 10rem;
}
/* Crausel Products */
/* Crausel Products */

/* Side bar starts*/
.sidebar .offcanvas-body .products-list .products {
    border-bottom: 1px solid var(--black);
}
.sidebar .offcanvas-body .products-list .products img {
    width: 150px;
    height: 150px;
}
.sidebar .offcanvas-body .products-list .products .product-name {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    font-family: "Source Sans 3", sans-serif;
}
.sidebar .total {
    display: flex;
    justify-content: space-between;
}
.sidebar .total p {
    padding: 12px;
    font-size: 15px;
    font-weight: 800;
    font-family: "Source Sans 3", sans-serif;
    text-transform: uppercase;
    margin: 0.5rem 0rem;
}
.sidebar .btn {
    width: 100%;
    border: 1px solid var(--blue);
    color: var(--black);
    padding: 12px;
    font-size: 12px;
    font-weight: 800;
    font-family: "Source Sans 3", sans-serif;
    text-transform: uppercase;
    margin: 0.5rem 0rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.6s ease-in-out;
}
.sidebar .container .checkout {
    background-color: var(--blue);
    color: var(--white);
}
.sidebar .container .checkout:hover {
    background-color: var(--white);
    color: var(--blue);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.sidebar .container .cart {
    background-color: var(--white);
    color: var(--blue);
}
.sidebar .container .cart:hover {
    background-color: var(--blue);
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sidebar-quantity .quantity-btn {
    width: 30px;
    /* padding: 2px 10px; */
    border: 0.5px solid var(--black);
    background-color: var(--white);
    border-radius: 3px;
    text-align: center;
    font-weight: 800;
}
.sidebar-quantity input {
    width: 30px;
    /* padding: 2px 10px; */
    border: 0.5px solid var(--black);
    background-color: var(--white);
    border-radius: 3px;
    text-align: center;
}

/* Side bar ends*/
footer {
    background-color: var(--white);
    /* width: 98%; */
    height: 400px;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
    background-size: contain;
    color: var(--black);
}
footer .footer-container {
    padding-top: 10rem;
    background-color: var(--white);
    width: 85%;
    height: 400px;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
    background-size: contain;
    color: var(--white);
    margin: auto;
}
footer .footer-container .footer-desc {
    text-align: left;
    color: var(--black);
    line-height: 1.5;
}

footer .footer-container .footer-desc img {
    width: 150px;
}
footer .footer-container .footer-desc .footer-brand {
    width: 300px;
    margin: auto;
    justify-content: center;
}
footer .footer-container .footer-desc a {
    /* margin-left: 2rem; */
    text-align: left;
    color: var(--black);
    /* line-height: 5px; */
    text-decoration: none;
    font-size: 14px;
}
footer .footer-container .useless {
    visibility: hidden;
}
footer .footer-container .space-for-phone {
    display: none;
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .navbar-brand {
        width: 60%;
    }
    .navbar-brand img {
        width: 100%;
    }
    .bg-image {
        width: 100%;
        height: 167px;
        background: url(assets/images/remove.png) !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        margin: 0;
        padding: 0;
        border-bottom: 5px solid var(--blue);
    }
    .bg-image .myImage {
        z-index: -1;
    }
    .bg-image .product {
        display: block;
        position: absolute;
        width: 100px;
        top: 20%;
        left: 9%;
    }
    .bg-image .exclusive {
        display: block;
        position: absolute;
        width: 100px;
        left: 72%;
        top: 10%;
    }
    .bg-image .hero-heading-container {
        /* padding-top: 10rem; */
        /* line-height: 10px; */
        display: block;
        position: absolute;
        top: -5%;
        left: 40%;
    }

    .bg-image .hero-heading-container h1 {
        font-size: 15px;
        font-weight: 800;
        color: #273340;
        padding: 0;
        margin: 0;
    }
    .bg-image .hero-heading-container p {
        font-size: 12px;
        padding: 0;
        margin: 0;
        font-weight: 600;
        color: #444f59;
    }

    .dropdown-menu {
        width: 300px;
        z-index: 1000;
    }

    .dropdown-menu .dropdown-row {
        display: block;
        z-index: 1000;
    }

    footer .footer-container .useless {
        display: none;
    }
    footer .footer-container .space-for-phone {
        display: block;
    }
    footer {
        height: 700px;
        clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
        background-size: contain;
        color: var(--black);
    }
    footer .footer-container {
        width: 97%;
        height: 800px;
        clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
        background-size: contain;
        color: var(--white);
        padding-top: 3rem;
    }
    footer .footer-container .footer-desc a {
        margin-left: 1.5rem;
    }
    footer .footer-container .footer-desc .footer-brand {
        display: block;
        margin-top: 3rem;
        width: 150px;
    }
    footer .footer-container .phone {
        text-align: center;
    }
}

/* #user-header {
    background-color: var(--blue);
    color: var(--black);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    height: 30px;
}

#user-header i {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    cursor: pointer;
} */
